body {
    background: rgb(253, 252, 252);
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif
}

header {
    border-bottom: solid 2px var(rgb(61, 176, 234));
    padding: 20px;
    font-size: 30px;
    color: rgb(61, 176, 234)
}

.chamada {
    background: #361b68;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}